{% extends 'base.html' %}

{% block content %}


<h3>Классификатор новообразований кожи</h3>

<div class='divform'>

    <div class="row justify-content-center" style="padding-top: 20px;">
        <div class="col-md-8">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-2">
                        <label id="pic">File:</label>
                    </div>
                    <div class="col-2">
                        <p id="pic" class="">{{ form.pic }} </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label id="url">URL:</label>
                    </div>
                    <div class="col-2">
                        <p id="url" class="">{{ form.url }} </p>
                    </div>
                </div>

                <input type="submit" value="Узнать" class="btn btn-success">
            </form>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-top: 20px;">

        {% if pred == "None" %}
        {% else %}
        <h3> Результат </h3>
        <table>
            <tr>
                <th>Заболевание</th>
                <th>Вероятность</th>
            </tr>
            <br>
            {% for d,p in pred %}
            <tr>
                <td>{{ d }}</td>
                <td>{{ p }}</td>
            </tr>
            {% endfor %}
        </table>
        </center>

        {% endif %}

    </div>
    <img src="{{ path }}" ,width="500" height="400">
by alot
    {% endblock %}
